Repository pods-framework/pods, pull requests merged in 2019-04, with the labels that each got.

#5314 Create filter for enqueueing dfv on frontend
  classes/PodsAdmin.php
  classes/PodsInit.php
Labels: Component: DFV, Focus: Other Compatibility, Status: PR > Pending Code Review, Type: Bug

#5320 Rollup config: set `browser: true` for node-resolve
  rollup.config.js
Labels: Type: Tools

#5323 Components for validation messages
  ui/js/pods-dfv/_src/core/react/pods-dfv-validation-message.js
Labels: Component: DFV, Type: Feature

#5325 Create the DFV field container
  ui/js/pods-dfv/_src/core/pods-dfv-field-container.js
  ui/js/pods-dfv/_src/core/renderers/react-renderer.js
  ui/js/pods-dfv/_src/text/text.js
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
Labels: Component: DFV, Status: PR > Ready For Merge, Type: Clean up / refactor

#5326 DFV Refactor: add a `_src/fields/...` directory
  tests/js/pods-dfv/file-upload/models/file-upload-model.js
  tests/js/pods-dfv/file-upload/models/relationship-model.js
  tests/js/pods-dfv/pick/pick-spec.js
  tests/js/pods-dfv/pick/views/checkbox-selection.limits.js
  tests/js/pods-dfv/pick/views/multiselect-selection-limits.js
  tests/js/pods-dfv/pick/views/select-view.js
  ui/js/pods-dfv/_src/field-manifest.js
  ui/js/pods-dfv/_src/fields/file-upload/file-upload-layout.html
  ui/js/pods-dfv/_src/fields/file-upload/file-upload-model.js
  ui/js/pods-dfv/_src/fields/file-upload/file-upload.js
  ui/js/pods-dfv/_src/fields/file-upload/uploaders/media-modal.js
  ui/js/pods-dfv/_src/fields/file-upload/uploaders/plupload.js
  ui/js/pods-dfv/_src/fields/file-upload/uploaders/pods-file-uploader.js
  ui/js/pods-dfv/_src/fields/file-upload/views/file-upload-form.html
  ui/js/pods-dfv/_src/fields/file-upload/views/file-upload-form.js
  ui/js/pods-dfv/_src/fields/file-upload/views/file-upload-item.html
  ui/js/pods-dfv/_src/fields/file-upload/views/file-upload-list.js
  ui/js/pods-dfv/_src/fields/file-upload/views/file-upload-queue.html
  ui/js/pods-dfv/_src/fields/file-upload/views/file-upload-queue.js
  ui/js/pods-dfv/_src/fields/pick/pick-field-model.js
  ui/js/pods-dfv/_src/fields/pick/pick-layout.html
  ui/js/pods-dfv/_src/fields/pick/pick.js
  ui/js/pods-dfv/_src/fields/pick/relationship-model.js
  ui/js/pods-dfv/_src/fields/pick/views/add-new.html
  ui/js/pods-dfv/_src/fields/pick/views/add-new.js
  ui/js/pods-dfv/_src/fields/pick/views/checkbox-item.html
  ui/js/pods-dfv/_src/fields/pick/views/checkbox-view.js
  ui/js/pods-dfv/_src/fields/pick/views/list-item.html
  ui/js/pods-dfv/_src/fields/pick/views/list-view.js
  ui/js/pods-dfv/_src/fields/pick/views/radio-item.html
  ui/js/pods-dfv/_src/fields/pick/views/radio-view.js
  ui/js/pods-dfv/_src/fields/pick/views/select-view.js
  ui/js/pods-dfv/_src/fields/text/text.js
  ui/js/pods-dfv/_src/model-manifest.js
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
Labels: Component: DFV, Type: Clean up / refactor

#5328 PodsDFVBaseInput
  ui/js/pods-dfv/_src/components/base-input.js
  ui/js/pods-dfv/_src/fields/text/text.js
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
Labels: Component: DFV, Type: Clean up / refactor

#5330 Basic password implementation for DFV
  classes/fields/password.php
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/field-manifest.js
  ui/js/pods-dfv/src/fields/password/password.js
  ui/js/pods-dfv/src/pods-dfv.js
Labels: Component: DFV, Type: Feature

#5331 Field Container: Default to empty string for value if it is passed as null or undefined
  ui/js/pods-dfv/src/components/field-container.js
Labels: Component: DFV, Type: Bug

#5333 Feature/5332 field validation
  classes/PodsMeta.php
  package.json
  rollup.config.js
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/base-input.js
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/effects/use-validation.js
Labels: Component: DFV, Type: Feature

#5334 Skeleton for number field
  classes/fields/number.php
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/base-input.js
  ui/js/pods-dfv/src/field-manifest.js
  ui/js/pods-dfv/src/fields/number/number.js
  ui/js/pods-dfv/src/pods-dfv.js
Labels: Component: DFV, Type: Feature

#5335 DFV refactor: Tidy up class name and validation handling
  package.json
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/effects/use-validation.js
Labels: Component: DFV, Type: Clean up / refactor

#5336 Feature/dfv validation refactor
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/validation/validation-rules.js
  ui/js/pods-dfv/src/validation/validation.js
  ui/styles/dist/pods.css
  ui/styles/src/base/_admin.scss
  ui/styles/src/sourcemaps/pods.css.map
Labels: Component: DFV, Type: Clean up / refactor

#5337 Prep for wp.i18n translation
  classes/PodsInit.php
Labels: Component: DFV, Focus: i18n, Type: Feature

#5338 DFV Field Validation: Step-wise refinement of the implementation
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/fields/number/number.js
  ui/js/pods-dfv/src/validation/validation-rules.js
  ui/js/pods-dfv/src/validation/validation.js
Labels: Component: DFV, Type: Clean up / refactor

#5339 DFV: Basic email field implementation
  classes/fields/email.php
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/field-manifest.js
  ui/js/pods-dfv/src/fields/email/email.js
  ui/js/pods-dfv/src/pods-dfv.js
  ui/js/pods-dfv/src/validation/validation-rules.js
Labels: Component: DFV, Type: Feature

#5341 DFV Number: only use HTML5 number field when specified
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/fields/number/number.js
Labels: Component: DFV, Type: Enhancement

#5342 Feature/textarea
  classes/fields/paragraph.php
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/field-manifest.js
  ui/js/pods-dfv/src/fields/textarea/textarea.js
  ui/js/pods-dfv/src/pods-dfv.js
Labels: Component: DFV, Type: Feature

#5343 DFV field validation on change
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/validation/validation.js
Labels: Component: DFV, Type: Enhancement

#5344 NPM: updates to eslint, jsdom, mocha, react, babel, rollup, and associated plugins
  .babelrc
  package.json
  rollup.config.js
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
Labels: Component: DFV, Type: Tools

#5345 Feature/eslint tweaks
  .eslintrc.json
  package.json
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/base-input.js
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/components/validation-messages.js
  ui/js/pods-dfv/src/fields/email/email.js
  ui/js/pods-dfv/src/fields/number/number.js
  ui/js/pods-dfv/src/fields/textarea/textarea.js
  ui/js/pods-dfv/src/pods-dfv.js
  ui/js/pods-dfv/src/validation/validation.js
Labels: Component: DFV, Type: Code Standards, Type: Tools

#5347 DFV field validation refactor
  ui/js/pods-dfv/pods-dfv.min.js
  ui/js/pods-dfv/pods-dfv.min.js.map
  ui/js/pods-dfv/src/components/field-container.js
  ui/js/pods-dfv/src/validation/validation-rules.js
  ui/js/pods-dfv/src/validation/validation.js
Labels: Component: DFV, Type: Clean up / refactor

#5349 Sister field fix after changes to the PodsDFV.fields object
  ui/admin/setup-edit.php
Labels: Component: DFV, Type: Bug
