Repository pods-framework/pods, pull requests merged in 2022-03, with the labels that each got.

#6466 Improve list select relationship drag-and-drop
  package-lock.json
  ui/js/dfv/pods-dfv.min.asset.json
  ui/js/dfv/pods-dfv.min.js
  ui/js/dfv/src/fields/pick/draggable-list-select-item.js
  ui/js/dfv/src/fields/pick/list-select-item.js
  ui/js/dfv/src/fields/pick/list-select-values.js
  ui/js/dfv/src/fields/pick/list-select.scss
Labels: Type: Bug, Component: DFV

#6437 Add setting to turn Pods into types-only mode which disables groups/fields hooks and screens
  classes/PodsAdmin.php
  components/Advanced-Content-Types.php
  components/Advanced-Relationships.php
  components/Table-Storage.php
  includes/general.php
  readme.txt
  src/Pods/Admin/Config/Pod.php
  src/Pods/Admin/Settings.php
  src/Pods/Whatsit.php
  tests/codeception/wpunit/Pods/AdminTest.php
  ui/admin/setup-add.php
  ui/js/dfv/pods-dfv.min.asset.json
  ui/js/dfv/pods-dfv.min.js
  ui/js/dfv/src/admin/edit-pod/edit-pod.js
  ui/js/dfv/src/components/pods-nav-tab.js
  ui/js/dfv/src/store/selectors.js
  ui/js/dfv/src/store/state-paths.js
  ui/js/dfv/src/store/store.js
  ui/js/dfv/src/store/testData.js
Labels: Type: Feature

#6460 Add the Playbook CLI command
  classes/PodsAPI.php
  components/Migrate-Packages/Migrate-Packages.php
  components/Migrate-Packages/ui/wizard.php
  includes/general.php
  src/Pods/CLI/Commands/Playbook.php
  src/Pods/CLI/Service_Provider.php
  tests/codeception/wpunit/Pods/API/PodTest.php
Labels: Type: Feature

#6482 Start Pods DFV hooks
  ui/js/dfv/pods-dfv.min.asset.json
  ui/js/dfv/pods-dfv.min.js
  ui/js/dfv/src/pods-dfv.js
Labels: Component: DFV
